.product-rating {
  background: none repeat scroll 0 0 #1ABC22;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  padding-top: 10px;
  position: absolute;
  left: 50px;
  text-align: center;
  top: -10px;
  width: 50px;
}

.single-phone-rating {
    background: none repeat scroll 0 0 #1ABC22;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 25px;
    height: 100px;
    padding-top: 29px;
    position: absolute;
    left: 50px;
    text-align: center;
    top: 55px;
    width: 100px;
}
/* phone search field not used */
.shopping-item {
    border: 1px solid #ddd;
    border-right: none;
    float: right;
    /* font-size: 18px; */
    margin-top: 37px;
    padding: 0px;
    position: relative;
}

.shopping-item:hover {
    background: none;
}

.shopping-item input[type="text"],
.shopping-item input[type="search"] {
    border: none;
    padding: 11px 20px;
}

.shopping-item input[type="submit"] {
    padding: 13px 20px;
}

.shopping-item input:focus{
    outline: none;
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    .shopping-item {
        border-right: 1px solid #ddd;
        float: none;
        margin-bottom: 20px;
        margin-top: 5px;
        text-align: center;
    }
}

/* paging */
a.disabled-link,
a.disabled-link:visited ,
a.disabled-link:active,
a.disabled-link:hover {
    background-color:#d9d9d9 !important;
    color:#aaa !important;
}

/* specs */
.phone_specs {
    float: left;
    margin-bottom: 50px;
    width: 100%;
}

.phone_costs,
.phone_costs table,
.phone_costs td{
    border-style: hidden;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    padding: 15%;
    -webkit-transform-style: preserve-3d;
}

.navbar-nav-right {
    float: right;
}

.navbar-nav-right input {
    padding: 19px;
}

.navbar-nav-right button {
    padding: 19px;
}

/* phones page */
.single-shop-product {
    margin-left: 60px;
}

/* Progress bars*/
.progress {
    background: rgba(240, 240, 240, 1);
    border: 0px solid rgba(255, 255, 255, 1);
    border-radius: 0px;
    height: 40px;
}

.progress-bar-custom-red {
    background: rgba(245, 86, 86, 0.6);
}
.progress-bar-custom-orange {
    background: rgba(245, 177, 86, 0.6);
}
.progress-bar-custom-green {
    background: rgba(26, 188, 156, 0.6);
}
.progress-bar-custom-yellow {
    background: rgba(245, 217, 20, 0.6);
}

/**
 * Progress bars with centered text
 */
.progress {
    position: relative;
}

/*.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: white;
}*/

.progress span {
    display: block;
    color: rgb(49, 86, 51);
    float: left;
    font-size: large;
    font-weight: bold;
    padding-left: 12px;
    padding-top: 10px;
}

.progress span.progress-bar-left {
    display: block;
    color: rgb(223, 19, 42);
    float: right;
    font-size: large;
    font-weight: bold;
    padding-right: 12px;
    padding-top: 10px;
}

.progress span.empty-rewrite-style {
    color: gray;
    font-weight: normal;
}

.title-custom-best-phones-area {
    background: url(img/crossword.png) repeat scroll 0 0 #1ABC3B;
    padding: 40px 0;
}

.title-custom-best-phones-area .single-shop-product {
    margin-left: 0px;
    margin-bottom: 0px;
}